version: "3"

services:
  php:
    image: linhntatdsquare/uempnv:latest
    restart: unless-stopped
    tty: true
    volumes:
      - ./:/dsquare/docker
      - projects:/dsquare
      - mysql:/var/lib/mysql
    environment:
      VUE_APP_ENV: production
    command: php /dsquare/docker/_config_all.php
    ports:
      - "8080:80"
      - "33062:3306"
volumes:
  mysql:
  projects: