version: "3"

services:
  php:
    image: linhntatdsquare/uempnv:latest
    restart: unless-stopped
    tty: true
    volumes:
      - ./:/docker
      - projects:/dsquare
      - mysql:/var/lib/mysql
    environment:
      VUE_APP_ENV: production
    command: php /docker/docker.boot.php
    ports:
      - "80:80"
      - "3306:3306"
volumes:
  mysql:
  projects: